* {
  font-family: FiraCode NerdFont;
  font-size: 15px;
  min-height: 0;
  padding: 0px 1px 0px 1px;
}

#waybar {
  background: transparent;
  /* background: rgba(11, 11, 11, 0.40); */
  /* background: #111111; */
  color: #c6d0f5;
}

#workspaces button {
  color: #babbf1;
  padding: 0rem 0.4rem;
  /* uncomment for debugging */
  /* background: #aa4444; */
}

#workspaces button.active {
  color: #99d1db;
}

#workspaces button:hover {
  color: #85c1dc;
}

#clock,
#pulseaudio,
#backlight,
#battery,
#power-profiles-daemon,
#network,
#language,
#bluetooth,
#cpu,
#memory,
#idle_inhibitor,
#custom-lock {
  /* uncomment to debug */
  /* background-color: #aaaa23;  */
  padding: 0rem 0.4rem;
  margin: 0px 3px;
  border-radius: 5px;
  color: #c6d0f5;
  background: transparent;
}

#custom-power {
  padding: 0rem 0.3rem;
  margin: 0px 3px;
  color: #ea999c;
  background: transparent;
}

#power-profiles-daemon,
#network,
#language {
  padding: 0rem 0.2rem;
  margin: 0px 1px;
}

#clock {
  color: #8caaee;
  border-radius: 5px;
  background: rgba(11, 11, 11, 0.8);
}

#pulseaudio {
  color: #ea999c;
}

/* #backlight { */
/*   color: #e5c890; */
/* } */

#battery {
  color: #a6d189;
  padding-left: 0rem;
}

#battery.charging {
  color: #8caaee;
}

/* TODO: Fix background colour */
#battery.warning:not(.charging) {
  color: #e78284;
}

#power-profiles-daemon {
  color: #e6d68a;
  padding-right: 1.2rem;
}

/* language */

/* network */
#bluetooth {
  font-size: 18px;
}

/* network */
#bluetooth.connected {
  color: #7c9cff;
}

/* cpu */
/* memory */

#idle_inhibitor {
  padding-right: 1rem;
}

#custom-lock {
  color: #babbf1;
  padding-right: 0.8rem;
}

/* #custom-music { */
/*   color: #ca9ee6; */
/*   border-radius: 5px; */
/* } */

/* #custom-power { */
/*   margin-right: 1rem; */
/*   border-radius: 0px 5px 5px 0px; */
/*   color: #e78284; */
/* } */

/* #tray { */
/*   margin-right: 1rem; */
/*   margin-left: 1rem; */
/*   border-radius: 5px; */
/* } */
